<div class="">
    <%= link_to "Show All Questions", questions_path, class: 'btn btn-primary px-3' %>
</div>

<div class="container">
  <div class="row d-flex justify-content-center align-items-center form-row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header text-center font-weight-bold">New Question</div>
          <div class="card-body">
            <%= render 'form', question: @question %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
