<div class="container mt-5">
    <%= render partial: 'about/profile', locals: { current_user: @user } %>
    <hr>
    <div class="row">
      <div class="col">
        <h2 class="text-center font-weight-bold">Answered Questions</h2>
        <hr>
        <%= render partial: 'user_questions', collection: fetch_answered_questions(@user), as: :answer  %>
      </div>
    </div>
  </div>