<div class="">
    <%= link_to "Visit Topic", @topic, class: 'btn btn-primary px-3' %>
</div>

<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header text-center font-weight-bold">Update Topic</div>
          <div class="card-body">
            <%= render 'form', topic: @topic %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
