
<div class="d-flex flex-column justify-content-center align-items-center">
  <%= link_to new_topic_path, class: 'new-topic-icon', data: {toggle: "tooltip", placement:"left"}, title: "Add Topic" do %>
    <%= icon('fa-solid', 'circle-plus fa-2x')%>
  <% end %>
  <h1 class="">Existing Topics</h1>
</div>

<div class="row">
  <% @topics.each do |topic| %>
      <%= render partial: 'topics/topic', locals: { topic: topic } %>
  <% end %>
</div>   

<%= paginate @topics, class:"text-center" %>

