<div class="w-100">
<%= form_with(model: [question, question.answers.build]) do |form| %>
    <%= form.text_area :body, placeholder: 'Write your answer...', class: 'form-control', rows: 2 %>
    <%= form.submit 'Submit Answer', class: 'btn btn-primary my-2' %>
<% end %>
</div>