$red: #b92b27;
$btn-hover: #942420;
$green: #3db33d;
$blue: #2e69ff;
$borderGrey: #9d9a9ad1;
$input-border: #ffb8b8eb;
$input-shadow: #dc353542;
$search-suggestion: #ffe7e7;
$lightBorderGrey: #dddadad1;