.pagination {
    justify-content: center;
    margin: 15px 10px;
}

.page-item .page-link {
    color: $red;

    &:focus {
        box-shadow: none;
    }

}
.page-item.active .page-link {
    color: white;
    background-color: $red !important;
    border-color: $red !important;
}